<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A tool for exploring the USA">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Explore the USA</title>

    <link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/static/js/raphael.js"></script>
	  <script src="/static/js/jquery.usmap.js"></script>
	  <script src="/static/js/main.js"></script>
  
  </head>
  <body class="">
  	<nav class="navbar navbar-default">
  		<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/home">Explore the USA</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="#" id="add-trip" data-toggle="modal" data-target="#insert-trip-modal">Add Trip</a></li>
		      </ul>
		      <ul class="nav navbar-nav">
		        <li><a href="/view-trips" id="add-trip">View Trips</a></li>
		      </ul>
		      {% if user_email is defined %}
            <ul class="nav navbar-nav navbar-right">
            <li><a href=" {{ logout_url }} " id="logout-btn">Log Out</a></li>
            </ul>
          {% endif %}
		    </div>
  		</div>
		</nav>

    <div class="">
      {% block content %}{% endblock %}
    </div>
  </body>
  
  <!-- Add Trip Modal -->
      <div class="container">
		    <div class="modal fade" id="insert-trip-modal" tabindex="-1" role="dialog"
		      aria-labelledby="myModalLabel">
		      <div class="modal-dialog" role="document">
		        <div class="modal-content">
		          <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal"
		              aria-label="Close">
		              <span aria-hidden="true">&times;</span>
		            </button>
		            <h4 class="modal-title">Add a New Trip!</h4>
		          </div>
		          <form class="form-horizontal" action="{{ form_action }}" method="POST" enctype="multipart/form-data">
		            <input name="trip_entity_key" type="text" class="hidden">
		            <div class="modal-body">

		              <div class="form-group">
		                <label for="state-input" class="col-sm-2 control-label">State</label>
		                <div class="col-sm-10">
		                  <select required="true" class="form-control" id="state-input" name="state" placeholder="State">
		                  {% for state_name in states %}
		                    <option>{{ state_name }}</option>
		                  {% endfor %}
		                  </select>
		                </div>
		              </div>
		              <div class="form-group">
		                <label for="city-input" class="col-sm-2 control-label">City</label>
		                <div class="col-sm-10">
		                  <input required="true" type="text" class="form-control" id="city-input"
		                    placeholder="City" name="city">
		                </div>
		              </div>
		              <div class="form-group">
		                <label for="arrival-date-input" class="col-sm-2 control-label">Arrival Date</label>
		                <div class="col-sm-10">
                      <input type="text" class="form-control" id="arrival-date"
                        placeholder="MM/DD/YYYY" name="arrival-date">
                    </div>
		              </div>
		              <div class="form-group">
                    <label for="departure-date-input" class="col-sm-2 control-label">Departure Date</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="departure-date"
                        placeholder="MM/DD/YYYY" name="departure-date">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="description-input" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="description" rows="10"
                        placeholder="Description..." name="description"></textarea>
                    </div>
                  </div>

                  <div id="image-attachment">
                    <input id="img-input" type="file"
				              name="image_attachment" class="hidden">
				            <button id="attach-img-btn" type="button"
				              class="btn btn-default">
				              Add image</button>
				          </div>
		            </div>

		            <div class="modal-footer">
		              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	                <button type="button" style="display: none;" class="btn btn-default delete-trip-btn">Delete Trip
                  <div style="display: none;" class="entity-key-for-delete"></div>
                	</button>
		              <button type="submit" class="btn btn-primary">Add Trip</button>
		            </div>
		          </form>
		        </div>
		      </div>
		    </div>
		  </div>
    <!-- Add Trip Modal -->
</html>
