<div class="trip-card col-xs-4 col-md-3">
	<div class="header">
	  <h2 class="title">{{ trip.city }}</h2>
  </div>
	
	<div style="display: none;" class="more-info edit-trip-btn">
    <div>State: {{ trip.state }}</div>
    <div>City: {{ trip.city }}</div>
    <div>Description: {{ trip.description }}</div>
    <div class="hidden entity-key">{{ trip.key.urlsafe() }}</div>
    <div class="hidden state">{{ trip.state }}</div>
    <div class="hidden city">{{ trip.city }}</div>
    <div class="hidden description">{{ trip.description }}</div>
    <div class="hidden start-date">{{ trip.start_date }}</div>
    <div class="hidden end-date">{{ trip.end_date }}</div>
	</div>
</div>
